<div class="container mx-auto my-8">
    <section>
        <div class="flex items-center mb-4">
            <img src="https://placehold.co/40x40" alt="Title Icon" class="w-10 h-10 mr-2">
            <div class="flex gap-2">
                <a href="" style="color: #0275d8; font-size: 1.8em; font-weight: 600">1.</a>
                <h3 class="font-bold" style="font-size: 1.8em">개요</h3>
            </div>
        </div>
        <hr class="my-4">
        <p class="text-lg text-blue-600 mb-4">
            <a href="#">오스만 제국</a>의 제28대 술탄이자 22대 파디샤.
        </p>
        <p class="text-gray-700 leading-relaxed">
            서구화 정책인 <a href="#" class="text-blue-600">니잠으 제디드</a>를 시행했지만 <a href="#" class="text-blue-600">예니체리</a>의
            쿠데타로 폐기되었다.
            제국의 근대화를 위해 노력하였으나 <a href="#" class="text-blue-600">예니체리</a>의 반발로 폐위당해 살해된 비운의 인물이다.
            하지만 군사 개혁의 일환으로 창설한 니잠으 제디드 보병대는 이후로도 꾸준히 개혁되어 <a href="#" class="text-blue-600">탄지마트 개혁</a> 때 새로운 보병대로
            재탄생했다는 의의가 있다.
        </p>
    </section>
</div>