<div class="bg-white flex rounded p-6" style="border: 1px solid #ccc">
    <div class="flex flex-col gap-4" style="width:100%;">
        <div class="flex flex-col">
            <span style="font-size: 2.25rem; font-weight: 700; height: 1;">
                {{ content.keyword }}
            </span>
            <span style="font-size:0.9rem; color: dimgray">문서 생성 시각:
                {{ content.created_at }}
            </span>
        </div>
            <div class="flex items-center justify-center gap-6">
                <div>
                    <button id="data-analysis-btn" class="block p-1 font-sans text-sm antialiased font-normal leading-normal text-blue-gray-900">
                        데이터 분석
                    </button>
                </div>
                <div>
                    <button id="issue-data-btn" class="block p-1 font-sans text-sm antialiased font-normal leading-normal text-blue-gray-900">
                        이슈 정리
                    </button>
                </div>
                <div>
                    <button id="public-opinion-btn" class="block p-1 font-sans text-sm antialiased font-normal leading-normal text-blue-gray-900">
                        여론 확인
                    </button>
                </div>
            </div>
        <div id="report-main">

        </div>
        <div id="data-analysis" style="display: none;">
                <div class="flex items-center gap-1 my-2" style="margin: 1rem 0 1rem 0">
                    <span style="font-size: 1.25rem; font-weight: 700; height: 1;">
                    검색량 분석
                    </span>
                    {% with description="해당 검색량은 NAVER AD에서 제공하는 월 검색량과 NAVER TREND API에서 제공하는 상대적인 검색량을 통해 추정된 수치입니다. 실제 검색량과 다를 수 있습니다." %}
                        {% include "question_mark.html" %}
                    {% endwith %}
                </div>
                <div class="flex flex-col items-center">
                {% with trend=content.keyword_trend_data, chart_id=1 %}
                    {% include "main_report_graph.html" %}
                {% endwith %}
                </div>
            <div class="flex items-center gap-1 my-2" style="margin: 5rem 0 1rem 0">
                    <span style="font-size: 1.25rem; font-weight: 700; height: 1;">
                    연관 검색어 분석
                    </span>
                    {% with description="검색한 키워드와 연관된 검색어입니다." %}
                        {% include "question_mark.html" %}
                    {% endwith %}
            </div>
            <div class="flex flex-col items-center">
                <div class="">
                    <div class="">
                        <table class="min-w-full bg-white">
                            <thead>
                                <tr class="bg-gray-100 text-gray-800 uppercase text-sm leading-normal">
                                    <th class="py-3 px-6 text-left">키워드</th>
                                    <th class="py-3 px-6 text-left">트랜드 비율</th>
                                    <th class="py-3 px-6 text-left">이슈 날짜</th>
                                    <th class="py-3 px-6 text-left">트랜드</th>
                                    <th class="py-3 px-6 text-left">트랜드 점수</th>
                                </tr>
                            </thead>
                            <tbody class="text-gray-600 text-sm font-light">

                            {% for item in content.keyword_suggestions_data %}
                                <tr class="border-b border-gray-200 hover:bg-gray-100">
                                    <td class="py-3 px-6 text-left">{{ item.keyword }}</td>
                                    <td class="py-3 px-6 text-left">{{ item.trend_proportion | round(2) }}%</td>
                                    <td class="py-3 px-6 text-left">
                                        {{ item.most_trend_day }}
                                    </td>
                                    <td class="py-3 px-6 text-left">

                                    <td class="py-3 px-6 text-left">{{ item.score | round(2) }}</td>

                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

                <div class="flex items-center gap-1 my-2" style="margin: 5rem 0 1rem 0">
                    <span style="font-size: 1.25rem; font-weight: 700; height: 1;">
                    여론 분석
                    </span>
                    {% with description="현재 이슈 기사에서 수집된 댓글의 감정 비율입니다." %}
                        {% include "question_mark.html" %}
                    {% endwith %}
                </div>
                <div class="flex flex-col items-center">
                <section class="bg-white p-5 m-3 rounded">
                      <h4 class="text-xl">Rating Score</h4>
                      <div class="flex flex-col lg:flex-row items-center gap-5 mt-5">
                        <div
                          class="flex justify-evenly items-center w-96 lg:w-1/3 p-3 m-3 border border-gray-300 rounded"
                        >
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            fill="none"
                            viewBox="0 0 24 24"
                            stroke-width="1.5"
                            stroke="currentColor"
                            class="text-green-400 w-20 h-20"
                          >
                            <path
                              stroke-linecap="round"
                              stroke-linejoin="round"
                              d="M15.182 15.182a4.5 4.5 0 01-6.364 0M21 12a9 9 0 11-18 0 9 9 0 0118 0zM9.75 9.75c0 .414-.168.75-.375.75S9 10.164 9 9.75 9.168 9 9.375 9s.375.336.375.75zm-.375 0h.008v.015h-.008V9.75zm5.625 0c0 .414-.168.75-.375.75s-.375-.336-.375-.75.168-.75.375-.75.375.336.375.75zm-.375 0h.008v.015h-.008V9.75z"
                            />
                          </svg>
                          <div class="text-center">
                            <h2 class="text-4xl font-bold pb-2">0%</h2>
                            <h4 class="inline text-gray-500 text-md">긍정</h4>
                          </div>
                        </div>
                        <div
                          class="flex justify-evenly items-center w-96 lg:w-1/3 p-3 m-3 border border-gray-300 rounded"
                        >
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            fill="none"
                            viewBox="0 0 24 24"
                            stroke-width="1.5"
                            stroke="currentColor"
                            class="text-gray-400 w-20 h-20"
                          >
                            <path
                              stroke-linecap="round"
                              stroke-linejoin="round"
                              d="M15.182 15.182a25.5 4.5 0 01-6.364 0M21 12a9 9 0 11-18 0 9 9 0 0118 0zM9.75 9.75c0 .414-.168.75-.375.75S9 10.164 9 9.75 9.168 9 9.375 9s.375.336.375.75zm-.375 0h.008v.015h-.008V9.75zm5.625 0c0 .414-.168.75-.375.75s-.375-.336-.375-.75.168-.75.375-.75.375.336.375.75zm-.375 0h.008v.015h-.008V9.75z"
                            />
                          </svg>
                          <div class="text-center">
                            <h2 class="text-4xl font-bold pb-2">0%</h2>
                            <h4 class="inline text-gray-500 text-md">중립</h4>
                          </div>
                        </div>
                        <div
                          class="flex justify-evenly items-center w-96 lg:w-1/3 p-3 m-3 border border-gray-300 rounded"
                        >
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            fill="none"
                            viewBox="0 0 24 24"
                            stroke-width="1.5"
                            stroke="currentColor"
                            class="text-red-300 w-20 h-20"
                          >
                            <path
                              stroke-linecap="round"
                              stroke-linejoin="round"
                              d="M15.182 16.318A4.486 4.486 0 0012.016 15a4.486 4.486 0 00-3.198 1.318M21 12a9 9 0 11-18 0 9 9 0 0118 0zM9.75 9.75c0 .414-.168.75-.375.75S9 10.164 9 9.75 9.168 9 9.375 9s.375.336.375.75zm-.375 0h.008v.015h-.008V9.75zm5.625 0c0 .414-.168.75-.375.75s-.375-.336-.375-.75.168-.75.375-.75.375.336.375.75zm-.375 0h.008v.015h-.008V9.75z"
                            />
                          </svg>
                          <div class="text-center">
                            <h2 class="text-4xl font-bold pb-2">0%</h2>
                            <h4 class="inline text-gray-500 text-md">부정</h4>
                          </div>
                        </div>
                      </div>
                    </section>
                </div>
                <div class="flex items-center gap-1 my-2" style="margin: 5rem 0 1rem 0">
                    <span style="font-size: 1.25rem; font-weight: 700; height: 1;">
                    댓글 키워드 분석
                    </span>
                    {% with description="현재 이슈 기사에서 수집된 댓글들의 키워드 입니다." %}
                        {% include "question_mark.html" %}
                    {% endwith %}
                </div>
                <div class="flex flex-col items-center">
                {% with data=content.public_opinion_word_frequency, chart_id=99 %}
                    {% include "word_cloud.html" %}
                {% endwith %}
            </div>
        </div>

        <div id="issue-data" style="display: none;">
            <div class="flex flex-col">
            <div class="flex">
                {% with table_of_contents=content.table_of_contents %}
                    {% include "table_of_contents.html" %}
                {% endwith %}
            </div>
            <div>
            {% for item in content.body %}
                {% with ref=item.ref, title=item.title, content=item.content, num=item.num %}
                    {% include "body.html" %}
                {% endwith %}
            {% endfor %}
            </div>
                </div>
        </div>

         <div id="issue-data" style="display: none;">
            <div class="flex flex-col">
            <div class="flex">
                {% with table_of_contents=content.table_of_contents %}
                    {% include "table_of_contents.html" %}
                {% endwith %}
            </div>
            <div>
            {% for item in content.body %}
                {% with ref=item.ref, title=item.title, content=item.content, num=item.num %}
                    {% include "body.html" %}
                {% endwith %}
            {% endfor %}
            </div>
                </div>
        </div>

        <div id="public-opinion-data" style="display: none;">
            <div class="flex flex-col">
                <div class="flex">
                    {% with table_of_contents=content.table_of_public_opinion %}
                        {% include "table_of_contents.html" %}
                    {% endwith %}
                </div>
                <div>
                    {% with title="공감 수가 높은 댓글 TOP", data=content.trend_public_opinion.high_sympathy, num=1 %}
                        {% include "public_opinion_body.html" %}
                    {% endwith %}
                </div>
                <div>
                    {% with title="상호 작용이 많은 댓글 TOP", data=content.trend_public_opinion.high_interaction, num=2 %}
                        {% include "public_opinion_body.html" %}
                    {% endwith %}
                </div>
            <div>
                {% for data in content.trend_public_opinion.keywords %}
                    <div>
                        {% with title=data.keyword, data=data.comments, num=loop.index %}
                            {% include "public_opinion_body.html" %}
                        {% endwith %}
                    </div>
                {% endfor %}
            </div>
                </div>
        </div>


    </div>

    <script>
        document.getElementById('report-main').innerHTML = document.getElementById('data-analysis').innerHTML
        document.getElementById('data-analysis-btn').addEventListener('click', function () {
            location.reload()
        });
        document.getElementById('issue-data-btn').addEventListener('click', function () {
            document.getElementById('report-main').innerHTML = document.getElementById('issue-data').innerHTML
        });
        document.getElementById('public-opinion-btn').addEventListener('click', function () {
            document.getElementById('report-main').innerHTML = document.getElementById('public-opinion-data').innerHTML
        });


        document.querySelectorAll('.icon-container').forEach(function(container) {
            container.addEventListener('mouseover', function() {
                container.querySelector('.hidden-description').style.display = 'block';
            });
            container.addEventListener('mouseout', function() {
                container.querySelector('.hidden-description').style.display = 'none';
            });
        });

    </script>

</div>