<div class="bg-white flex rounded p-6" style="border: 1px solid #ccc">
    <div class="flex flex-col gap-4" style="width:100%;">
        <div class="flex flex-col">
            <span style="font-size: 2.25rem; font-weight: 700; height: 1;">
                {{ content.keyword }}
            </span>
            <span style="font-size:0.9rem; color: dimgray">문서 생성 시각:
                {{ content.created_at }}
            </span>
        </div>
            <div class="flex items-center justify-center gap-6">
                <div>
                    <button id="data-analysis-btn" class="block p-1 font-sans text-sm antialiased font-normal leading-normal text-blue-gray-900">
                        데이터 분석
                    </button>
                </div>
                <div>
                    <button id="issue-data-btn" class="block p-1 font-sans text-sm antialiased font-normal leading-normal text-blue-gray-900">
                        이슈 정리
                    </button>
                </div>
                <div>
                    <button id="public-opinion-btn" class="block p-1 font-sans text-sm antialiased font-normal leading-normal text-blue-gray-900">
                        여론 확인
                    </button>
                </div>
            </div>
        <div id="report-main">

        </div>
        <div id="data-analysis" style="display: none;">
                <div class="my-2" style="margin: 5rem 0 1rem 0">
                    <span style="font-size: 1.25rem; font-weight: 700; height: 1;">
                    검색량 분석
                    </span>
                </div>
                <div class="flex flex-col items-center">
                {% with trend=content.keyword_trend_data, chart_id=1 %}
                    {% include "main_report_graph.html" %}
                {% endwith %}
                </div>
            <div class="my-2" style="margin: 5rem 0 1rem 0">
                    <span style="font-size: 1.25rem; font-weight: 700; height: 1;">
                    연관 검색어 분석
                    </span>
            </div>
            <div class="flex flex-col items-center">
                <div class="">
                    <div class="">
                        <table class="min-w-full bg-white">
                            <thead>
                                <tr class="bg-gray-100 text-gray-800 uppercase text-sm leading-normal">
                                    <th class="py-3 px-6 text-left">키워드</th>
                                    <th class="py-3 px-6 text-left">트랜드 비율</th>
                                    <th class="py-3 px-6 text-left">이슈 날짜</th>
                                    <th class="py-3 px-6 text-left">트랜드</th>
                                    <th class="py-3 px-6 text-left">트랜드 점수</th>
                                </tr>
                            </thead>
                            <tbody class="text-gray-600 text-sm font-light">

                            {% for item in content.keyword_suggestions_data %}
                                <tr class="border-b border-gray-200 hover:bg-gray-100">
                                    <td class="py-3 px-6 text-left">{{ item.keyword }}</td>
                                    <td class="py-3 px-6 text-left">{{ item.trend_proportion | round(2) }}%</td>
                                    <td class="py-3 px-6 text-left">
                                        {{ item.most_trend_day }}
                                    </td>
                                    <td class="py-3 px-6 text-left">
                                        {% with trend=item.trend, chart_id=item.id+20 %}
                                            {% include "main_report_graph.html" %}
                                        {% endwith %}</td>
                                    <td class="py-3 px-6 text-left">{{ item.score | round(2) }}</td>

                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

                <div class="my-2" style="margin: 5rem 0 1rem 0">
                    <span style="font-size: 1.25rem; font-weight: 700; height: 1;">
                    여론 분석
                    </span>
                </div>
                <div class="flex flex-col items-center">
                {% with opinion=content.public_opinion_activity_data, chart_id=3 %}
                    {% include "public_opinion_graph.html" %}
                {% endwith %}
                </div>
                <div class="my-2" style="margin: 5rem 0 1rem 0">
                    <span style="font-size: 1.25rem; font-weight: 700; height: 1;">
                    댓글 키워드 분석
                    </span>
                </div>
                <div class="flex flex-col items-center">
                {% with data=content.public_opinion_word_frequency, chart_id=99 %}
                    {% include "word_cloud.html" %}
                {% endwith %}
            </div>
        </div>

        <div id="issue-data" style="display: none;">
            <div class="flex flex-col">
            <div class="flex">
                {% with table_of_contents=content.table_of_contents %}
                    {% include "table_of_contents.html" %}
                {% endwith %}
            </div>
            <div>
            {% for item in content.body %}
                {% with ref=item.ref, title=item.title, content=item.content, num=item.num %}
                    {% include "body.html" %}
                {% endwith %}
            {% endfor %}
            </div>
                </div>
        </div>

         <div id="issue-data" style="display: none;">
            <div class="flex flex-col">
            <div class="flex">
                {% with table_of_contents=content.table_of_contents %}
                    {% include "table_of_contents.html" %}
                {% endwith %}
            </div>
            <div>
            {% for item in content.body %}
                {% with ref=item.ref, title=item.title, content=item.content, num=item.num %}
                    {% include "body.html" %}
                {% endwith %}
            {% endfor %}
            </div>
                </div>
        </div>

        <div id="public-opinion-data" style="display: none;">
            <div class="flex flex-col">
            <div class="flex">
                {% with table_of_contents=content.table_of_contents %}
                    {% include "table_of_contents.html" %}
                {% endwith %}
            </div>
            <div>
                {% for item in content.trend_public_opinion.high_sympathy %}
                    {{ item.contents }}<br>
                {% endfor %}

            </div>
                </div>
        </div>


    </div>

    <script>
        document.getElementById('report-main').innerHTML = document.getElementById('data-analysis').innerHTML
        document.getElementById('data-analysis-btn').addEventListener('click', function() {
            location.reload()
        });
        document.getElementById('issue-data-btn').addEventListener('click', function() {
            document.getElementById('report-main').innerHTML = document.getElementById('issue-data').innerHTML
        });
        document.getElementById('public-opinion-btn').addEventListener('click', function() {
            document.getElementById('report-main').innerHTML = document.getElementById('public-opinion-data').innerHTML
        });
    </script>

</div>