<div class="bg-white flex rounded p-6" style="border: 1px solid #ccc">
    <div class="flex flex-col gap-4">
        <div class="flex flex-col">
            <span style="font-size: 2.25rem; font-weight: 700; height: 1;">
                {{ content.keyword }}
            </span>
            <span style="font-size:0.9rem; color: dimgray">문서 생성 시각:
                {{ content.created_at }}
            </span>
        </div>

        <div class="display flex justify-center">
            {% with trend=content.keyword_trend_data, chart_id=1 %}
                {% include "main_report_graph.html" %}
            {% endwith %}
        </div>
        <div class="flex">
            {% with table_of_contents=content.table_of_contents %}
                {% include "table_of_contents.html" %}
            {% endwith %}
        </div>
        <div>
            {% for item in content.body %}
                {% with title=item.title, content=item.content, num=item.num %}
                    {% include "body.html" %}
                {% endwith %}
            {% endfor %}
        </div>
    </div>
</div>