<div class="flex flex-col bg-white rounded-lg " style="border: 1px solid #ccc">

    <div id="container1" class="rounded-lg"></div>
    <div class="p-6">
        <div class="flex justify-center items-center mb-3 gap-2">
            <svg style="width: 1.5rem;" data-v-69ed3290="" xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512" class="PyV-f8s2"><path d="M512 32c0 113.6-84.6 207.5-194.2 222c-7.1-53.4-30.6-101.6-65.3-139.3C290.8 46.3 364 0 448 0h32c17.7 0 32 14.3 32 32zM0 96C0 78.3 14.3 64 32 64H64c123.7 0 224 100.3 224 224v32V480c0 17.7-14.3 32-32 32s-32-14.3-32-32V320C100.3 320 0 219.7 0 96z"></path></svg>
            <div style="width: 15rem">
                <span class="text-xl font-bold mb-4">생성 중</span>
            </div>
        </div>
        <div id="creating-list" class="flex flex-col p-1 space-y-2 text-gray-700">

        </div>
    </div>
</div>
<style>
    .hover-link-recent {
        border-radius: 0.25rem;
        transition: background-color 0.3s ease;
    }

    .hover-link-recent:hover {
        background-color: #f0f0f0;
    }

    #container1 {
      height: 3px;
    }
</style>

<script src="https://cdn.jsdelivr.net/npm/progressbar.js@1.0.1/dist/progressbar.min.js"></script>
<script>
            var bar2 = new ProgressBar.Line(container1, {
                strokeWidth: 4,
                easing: 'easeInOut',
                duration: 15000,
                color: '#FFEA82',
                trailColor: '#eee',
                trailWidth: 1,
                svgStyle: {width: '100%', height: '100%'},
                from: {color: '#FFEA82'},
                to: {color: '#ED6A5A'},
                step: (state, bar) => {
                    bar.path.setAttribute('stroke', state.color);
                }
            });


        function fetchCreating() {
            fetch('/api/creating-sep') // 서버에서 변경 내역을 가져오는 엔드포인트
                .then(response => response.json())
                .then(data => {
                    const changesList = document.getElementById('creating-list');
                    changesList.innerHTML = ''; // 기존 목록을 비우기
                    data.forEach(change => {
                        const divItem = document.createElement('div');
                        divItem.innerHTML = `
                            <a href="/report?q=${encodeURIComponent(change.keyword)}" class="hover-link-recent">
                                <div class="flex justify-between hover-link-recent">
                                    <div>${change.keyword}</div>
                                    <div>${change.elapsed_time}</div>
                                </div>
                            </a>
                        `;
                        changesList.appendChild(divItem);
                        bar2.set(0)
                        bar2.animate(1.0)
                    });
                })
                .catch(error => console.error('Error fetching changes:', error));
        }



        // 일정 주기로 fetchChanges 함수 호출
        setInterval(fetchChanges, 15000); // 5초마다 갱신
</script>
