<div class="container mx-auto my-8">

    <section id="public-opinion-section-{{ num }}">
        <div class="flex items-center mb-4">
<!--            <img src="https://placehold.co/40x40" alt="Title Icon" class="w-10 h-10 mr-2">-->
            <div class="flex gap-2">
                <a href="#public-opinion-section-{{ num }}" style="color: #0275d8; font-size: 1.8em; font-weight: 600">{{ num }}.</a>
                <h3 class="font-bold" style="font-size: 1.8em">{{ title }}</h3>
            </div>
        </div>
        <hr class="my-4">
        <div class="flex flex-col gap-5">
        {% if type == 'list' %}
            {% with items=data %}
                {% include "public_opinion_list.html" %}
            {% endwith %}
        {% endif %}

        {% if type == 'summary' %}
            <p class="text-gray-700 leading-relaxed">
                {{ data | replace('"', '') }}
            </p>
        {% endif %}
        </div>
    </section>
</div>