<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../static/favicon.png" type="image/png">
    <title>{{ content.keyword }} - ISSUER</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-gray-100">
    {% include "header.html" %}
    <div class="flex gap-10" style="margin: 1rem 15% 0 15%">
        <div style="width: 80%; min-width: 756px">
            {% include "content.html" %}
        </div>

        <div class="flex flex-col gap-3">
            <div>
                {% include "keyword_rank.html" %}
            </div>
            <div>
                {% include "recently_added_list.html" %}
            </div>
            <div>
                {% include "creating_list.html" %}
            </div>

        </div>
    </div>
    <!-- Scroll Buttons -->
    <div class="fixed right-5 bottom-5 flex flex-col space-y-1">
        <button onclick="scrollToTop()" class="bg-white p-3 rounded-md shadow-md hover:bg-gray-100">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="w-6 h-6 text-gray-700">
                <path stroke-linecap="round" stroke-linejoin="round" d="M5 15l7-7 7 7" />
            </svg>
        </button>
        <button onclick="scrollToBottom()" class="bg-white p-3 rounded-md shadow-md hover:bg-gray-100">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="w-6 h-6 text-gray-700">
                <path stroke-linecap="round" stroke-linejoin="round" d="M19 9l-7 7-7-7" />
            </svg>
        </button>
    </div>
<script>
    window.onload = () => {
        fetchChanges();
        fetchCreating();
        setInterval(fetchChanges, 15000)
        setInterval(fetchCreating, 15000)
    }

    function scrollToTop() {
        window.scrollTo({top: 0, behavior: 'smooth'});
    }

    function scrollToBottom() {
        window.scrollTo({top: document.body.scrollHeight, behavior: 'smooth'});
    }

    </script>
</body>
</html>
