<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Webpage Layout</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-gray-100">
    {% include "header.html" %}
    <div class="flex gap-10" style="margin: 1rem 15% 0 15%">
        <div style="width: 80%">
            {% include "content.html" %}
        </div>
        <div class="flex flex-col">
            <div>
                {% include "keyword_rank.html" %}
            </div>
        </div>
    </div>
</body>
</html>
